---
import Layout from "../layouts/Layout.astro";
---


<Layout  title="About">
    <div class="container">
        <h1>About Us</h1>
        <p>We are a team of passionate developers dedicated to creating amazing web experiences.</p>
        <p>Our mission is to build high-quality, performant websites that delight users and drive business success.</p>
    </div>
</Layout>