


---
import '../styles/global.css';
---




<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		
		<title>Astro Basics</title>
	</head>
	<body>
		<div>
		<slot />

		</div>
	</body>
</html>

<style is:global>
	  @reference "../styles/global.css";

	html {
		font-family: system-ui, sans-serif;
		line-height: 1.5;
		color: #333;
	}
	body {
		@apply grid place-content-center p-20;
	}
	
	body > div {
		@apply container;
	}


</style>
